<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--Local-->
    <add name="TMATS00012020Entities" connectionString="metadata=res://*/DYEModel.csdl|res://*/DYEModel.ssdl|res://*/DYEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-AS7V708\SQLEXPRESS;initial catalog=TMATS00012020;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--live-->
    <!--<add name="TMATS00012020Entities" connectionString="metadata=res://*/DYEModel.csdl|res://*/DYEModel.ssdl|res://*/DYEModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=thinksoftwares.dyndns.org,1434;initial catalog=TMATS00012020;user id=sa;password=kajal3792kajal;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>