@model List<Domain.CustomerWishlistDomain>

<!-- wishlistbar bar -->
<div id="wishlist_side" class="add_to_cart right ">
    <a href="javascript:void(0)" class="overlay" onclick="closeWishlist()"></a>
    <div class="cart-inner">
        <div class="cart_top">
            <h3>my wishlist</h3>
            <div class="close-cart">
                <a href="javascript:void(0)" onclick="closeWishlist()">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="cart_media">
            <ul class="cart_product">
                @foreach (var item in Model)
                {
                    <li>
                        <div class="media">
                            <a href="product-page(left-sidebar).html">
                                <img alt="megastore1" class="me-3" src="~/Assets/Images/ProductImage/1.jpg">
                            </a>
                            <div class="media-body">
                                <a href="product-page(left-sidebar).html">
                                    <h4>@item.ITEM_DESC</h4>

                                </a>
                                <h6>
                                    $@item.Amount

                                </h6>
                                <div class="addit-box">
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <button class="qty-minus"></button>
                                            <input class="qty-adj form-control" type="number" value="1" />
                                            <button class="qty-plus"></button>
                                        </div>
                                    </div>
                                    @*<div class="pro-add">
                                            <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#edit-product">
                                                <i data-feather="edit"></i>
                                            </a>
                                            <a href="javascript:void(0)">
                                                <i data-feather="trash-2"></i>
                                            </a>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <ul class="cart_total">
                <li>
                    subtotal : <span>$1050.00</span>
                </li>
                <li>
                    shpping <span>free</span>
                </li>
                <li>
                    taxes <span>$0.00</span>
                </li>
                <li>
                    <div class="total">
                        total<span>$1050.00</span>
                    </div>
                </li>
                <li>
                    <div class="buttons">
                        <a href="@Url.Action("Index","WishList")" class="btn btn-solid btn-block btn-md">view wislist</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- wishlistbar bar end-->
