
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- breadcrumb start -->
<div class="breadcrumb-main ">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-contain">
                    <div>
                        <h2>change password</h2>
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li><i class="fa fa-angle-double-right"></i></li>
                            <li><a href="javascript:void(0)">change password</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- breadcrumb End -->
<!--section start-->
<section class="login-page pwd-page section-big-py-space b-g-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="theme-card">
                    <form class="theme-form">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Enter Current Password</label>
                                    <input type="password" class="form-control" placeholder="Enter Current Password" required="" id="existpwd">
                                    <span id="spnError"></span>
                                </div>
                                <div class="form-group">
                                    <label>Enter New Password</label>
                                    <input type="password" class="form-control" placeholder="Enter New Password" required="" id="newpwd">

                                </div>
                                <div class="form-group">
                                    <label>Enter Confirm Password</label>
                                    <input type="password" class="form-control" placeholder="Enter Confirm Password" required="" id="cnfmpwd">

                                </div>
                                <div class="form-group mb-0">
                                    <a id="exportpdf" href="@Url.Action("Index","Customer")" class="btn btn-solid btn-md ">
                                        <i class="fa fa-file"></i>
                                        Back
                                    </a>
                                    <a href="javascript:void(0)" class="btn btn-normal" id="btnSubmit">Submit</a>
                                    <span id="spnpassSuccess"></span>


                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->

<script src="~/Assets/JS/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        jQuery("#existpwd").blur(function () {
            var password = $("#existpwd").val();
            if (password == '') {
                $("#txtEmail").css('border-color', 'red');
                $("#spnError").text("Please enter your password.").css('color', 'red');
                $("#btnSubmit").prop('disabled', true);
            }

            else {
                $("#txtEmail").css('border-color', 'black');
                $("#spnError").empty();
                $("#btnSubmit").prop('disabled', false);

                $.ajax({
                    url: '/Customer/ChkPasswordExistsOrNot',
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: '{password: "' + password + '"}',
                    success: function (response) {
                        if (response > 0) {
                            $("#spnpassSuccess").text("Your password change successfully..!!").css('color', 'green');
                        }
                        else {
                            $("#spnError").text("Please enter valid password.").css('color', 'red');
                            $("#btnSubmit").prop('disabled', true);
                        }
                    },

                });

            }
        });

        $("body").on("click", "#btnSubmit", function () {

            var result = checkValidation();
            if (result == true) {
                $.ajax({
                    type: "POST",
                    url: "/Customer/ChangePassword",
                    data: '{password: "' + $("#cnfmpwd").val() + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        alert(response);
                        if (response) {
                            $("#spnpassSuccess").text("Password change successfully..!!").css('color', 'green');

                        }
                    }
                });
            }

        });

    });
    function checkValidation() {
        var result = true;

        if ($("#existpwd").val() == '' || $("#existpwd").val() == null) {
            $("#existpwd").css('border-color', 'red');
            result = false;
        }
        else if ($("#newpwd").val() == '' || $("#newpwd").val() == null) {
            $("#newpwd").css('border-color', 'red');
            result = false;
        }
        else if ($("#cnfmpwd").val() == '' || $("#cnfmpwd").val() == null) {
            $("#cnfmpwd").css('border-color', 'red');
            result = false;
        }
        else if ($("#cnfmpwd").val() != $("#cnfmpwd").val()) {
            $("#name").css('border-color', 'red');
            $("#cnfmpwd").css('border-color', 'red');
            $("#spnpassError").text("Password not match..!!").css('color', 'red');

            result = false;
        }
        return result;
    }
</script>